{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}My Cart{% endblock %}

{% block extra_head %}

  <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
  <script type="text/javascript" src="/static/js/jqdrawbsgrid.js"></script>

<style>
  .thumbnails .span4:nth-child(3n+1) {

    margin-left:0;
  }
  .thumbnail {
      border-style: groove;
      border-radius: 7px;
      background: url('/static/nail.png');
  }
  .subscript {
    color: gray;
    font-size: 79%;
   }

</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span10 offset1">
          <div class="tab-pane active" >
            <!-- User Statistics / Analysis Statistics -->
            <div class="row-fluid">
              <div class="span 12">
                <div class="tabbable">
                  <!-- Tabs' Header -->
                  <ul class="nav nav-tabs">
                    <li class="free active"><a href="#free_app" data-toggle="tab">FREE</a></li>
                    <li class="nonfree"><a href="#nonfree_app" data-toggle="tab">PAID</a></li>

                  </ul>
                  <!-- Tabs' Content -->
                  <div class="tab-content">
                    <!-- free apps -->
                    <div id="free_app" class="tab-pane active">

                      <div class="row-fluid">
                        <div class="span12">
                    <table class="table table-striped freeapp_table" id="testing">
                      <head>
                        <tr>
                          <th>Logo</th> <th>Name</th> <th>Purchase Data</th>
                          <th>Details</th><th>Price</th><th>Install</th> <th> Delete</th>
                        </tr>
                      </head>
                      <tbody>
                        {% for each in items_free %}
                            
                        <tr>
                          <td style="vertical-align: middle"><img {% if scr.logo %} src="/media/{{ each.product.logo }}" {% else %} src="/static/logos/rlogo.jpg" {% endif %} width="55" height="55" class="img-rounded"></td>
                          <td style="vertical-align: middle"><strong>{{ each.product.name }} <br /> <span class="subscript"> (author: {{ each.product.author }}) </span> </strong></td>
                          <td style="vertical-align: middle"><i>{{ each.date_created }}</i></td>
                          <td style="vertical-align: middle">
                            <a href="#" data-toggle="modal" class="btn btn-primary describe" data-target="#Describe" data-param={{ each.product.id }}>
                              <i class="icon-info-sign icon-white"></i>
                            </a>
                          </td>
                          <td style="vertical-align: middle">
                              <strong> 
                               
                                  <span class='label label-success'>{{ each.product.price }}</span> 

                               </strong>
                          </td>
                          <td style="vertical-align: middle">
                              
                            <a href="#" class="btn btn-success installapp"   data-param="/installscripts/{{ each.product.id }}">
                              <i class="icon-black icon-download-alt"></i>
                            </a>
                          </td>
                          <td style="vertical-align: middle">
                              
                            <a href="#" class="btn btn-danger delete"   data-param="/deletecart/{{ each.product.id }}">
                              <i class="icon-trash"></i>
                            </a>
                          </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td><td><p>No resources available!</p></td> <td></td>
                          <td></td>
                          <td></td><td></td><td></td>
                        </tr>
                        {% endfor %}
                        
                        {% if items_free.count > 0 %}
                        <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>

                            </td>
                            <td style="vertical-align: middle" align="right">
                              
                              <a href="#" class="btn btn-danger deleteall"   data-param="deletefree">
                                   <strong>All&nbsp;<i class="icon-trash"></i></strong>
                                
                              </a>
                            </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                
                        </div>
                      </div>
                    </div>

                    <!-- non free apps -->
                    <div id="nonfree_app" class="tab-pane ">
                      <div class="row-fluid">
                        <div class="span12">
                    <table class="table table-striped">
                      <head>
                        <tr>
                          <th>Logo</th> <th>Name</th> <th>Purchase Data</th>
                          <th>Details</th><th>Price</th><th>Install</th> <th> Delete</th>
                        </tr>
                      </head>
                      <tbody>
                        {% for each in items_nonfree %}
                            
                        <tr>
                          <td style="vertical-align: middle"><img {% if scr.logo %} src="/media/{{ each.product.logo }}" {% else %} src="/static/logos/rlogo.jpg" {% endif %} width="55" height="55" class="img-rounded"></td>
                          <td style="vertical-align: middle"><strong>{{ each.product.name }} <br /> <span class="subscript"> (author: {{ each.product.author }}) </span> </strong></td>
                          <td style="vertical-align: middle"><i>{{ each.date_created }}</i></td>
                          <td style="vertical-align: middle">
                            <a href="#" data-toggle="modal" class="btn btn-primary describe" data-target="#Describe" data-param={{ each.product.id }}>
                              <i class="icon-info-sign icon-white"></i>
                            </a>
                          </td>
                          <td style="vertical-align: middle">
                              <strong> 
                               
                                  <span class='label label-important'>{{ each.product.price }}</span> 

                               </strong>
                          </td>
                          <td style="vertical-align: middle">
                              
                            <a  class="btn btn-success install"   data-param="/payapp/{{ each.product.id }}">
                              <i class="icon-black icon-download-alt"></i>
                            </a>
                          </td>
                          <td style="vertical-align: middle">
                              
                            <a  class="btn btn-danger delete"   data-param="/deletecart/{{ each.product.id }}">
                              <i class="icon-trash"></i>
                            </a>
                          </td>
                        </tr>
                           {% empty %}
                           <tr>
                               <td></td><td><p>No resources available!</p></td> <td></td>
                             <td></td>
                             <td></td><td></td><td></td>
                           </tr>
                        {% endfor %}
                        
                        {% if items_nonfree.count > 0 %}
                        <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>

                            </td>
                            <td style="vertical-align: middle" align="right">
                              
                              <a href="#" class="btn btn-danger deleteall"   data-param="deletenonfree">
                                   <strong>All&nbsp;<i class="icon-trash"></i></strong>
                                
                              </a>
                            </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                
                        </div>
                      </div>
                    </div>
    <!-- END of Tabs' Content -->
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="row-fluid">&nbsp;</div>


<div id="Describe" class="modal fade" role="dialog"  aria-hidden="true" style="background: url('/static/nail.png');"></div>

<div id="RepTypeInfo" class="modal hide fade" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="info_title"> </h3>
  </div>
  <div class="modal-body">
    <p id="info_body"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  // initialize Multiselect plugin for Dotmatix Samples
  var multiConfigurationSet = {
    includeSelectAllOption: true,
    enableFiltering: true,
    maxHeight: 450
  };
  $('.dotmatix_samples').multiselect(multiConfigurationSet);


  $(".describe").click(function(ev) {
    ev.preventDefault(); // prevent navigation
    var par = $(this).data("param");
    //console.log("clicked");
    $("#Describe").load("/scripts/read-descr/"+par, function() {
      //console.log("ajax sent");
      $(this).modal('show');
    });
    return false; // prevent the click propagation
  });
 
 
  $(".installapp").click(function(ev) {
    ev.preventDefault(); // prevent navigation
    var par = $(this).data("param");
    var parent = $(this).parent().parent();
    bootbox.dialog({
    message: "Install it for free ",
    title: "Agreement",
    buttons: {
    success: {
    label: "Cancel",
    className: "btn-danger",
    callback: function() {
    //console.log("success");
    }
    },
    danger: {
    label: "Sure",
    className: "btn-success",
    callback: function() {
        $.ajax({
          type: "GET",
          url: par,
          //data: {"hello": par},
          success: function(response){
              $.ajax({
                  type:"GET",
                  url:"/updatecart",
                  success: function(data){
                      $('#countcart').html(data);
                  }
              });
              
              if(response['install_status']=='exist'){
                  bootbox.dialog({
                  message: "You have already installed this app! ",
                  title: "Warning",
                  buttons: {
                  success: {
                  label: "OK",
                  className: "btn-success",
                  callback: function() {
                      if(response['count_app']==1){
                          parent.fadeOut('slow', function(){
                                            $(this).parent().after('<tbody><tr><td></td><td><p>No resources available!</p></td> <td></td><td></td><td></td><td></td><td></td></tr></tbody>');
                                            $(this).parent().remove();

                                        });
                      } else {
                          parent.fadeOut('slow', function(){$(this).remove();});
                      }
                  //console.log("success");
                  }
                  }
                  }
                  });
              }
              if(response['install_status']=='Yes'){
  
                          if(response['count_app']==1){
              
                              parent.fadeOut('slow', function(){
                                                $(this).parent().after(remove_html);
                                                $(this).parent().remove();
                                            });
                          } else { 
             
                              parent.fadeOut('slow', function(){$(this).remove();});
                                  }
              } 
          },
          error: function (request, status, error) {
                      //implement proper error handling
                      console.log(status);
                      //console.log(request.responseText);
          }
        });
    //Example.show("uh oh, look out!");
    }
    }
    }
    });

  });
  
</script>


<script type="text/javascript">
$(document).ready(function() {
    
    $(".describe").click(function(ev) {
      ev.preventDefault(); // prevent navigation
      var par = $(this).data("param");
      //console.log("clicked");
      $("#Describe").load("/scripts/read-descr/"+par, function() {
        //console.log("ajax sent");
        $(this).modal('show');
      });
      return false; // prevent the click propagation
    });
  
    
  

  
    $(".install_all_free").click(function(ev){
      ev.preventDefault(); // prevent navigation
      var par = $(this).data("param");
      var parent = $(this).parent().parent().parent();
      bootbox.dialog({
      message: "Install all for free ",
      title: "Agreement",
      buttons: {
      success: {
      label: "Cancel",
      className: "btn-danger",
      callback: function() {
      //console.log("success");
      }
      },
      danger: {
      label: "Sure",
      className: "btn-success",
      callback: function() {
          $.ajax({
            type: "GET",
            url: par,
            success: function(response){
                if(response['delete']=='Yes'){
                    bootbox.dialog({
                    message: "All apps have been installed! ",
                    title: "Information",
                    buttons: {
                    success: {
                    label: "OK",
                    className: "btn-success",
                    callback: function() {
                        parent.fadeOut('slow', function(){
                                          $(this).after(remove_html);
                                          $(this).remove();
                                      });
                    //console.log("success");
                    }
                    }
                    }
                    });
                }
            },
            error: function (request, status, error) {
                        //implement proper error handling
                        console.log(status);
                        //console.log(request.responseText);
            }
          });
      //Example.show("uh oh, look out!");
      }
      }
      }
      });
    
    
    });
    
    
});
</script>
{% endblock %}