            <!-- By categories -->
            {% for cat, scr_list in cat_list %}
            <div class="tab-pane" id="{{ cat }}">
            {% if thumbnails %}
              <div>
                <ul class="thumbnails">
                {% for scr in scr_list %}
                  <li class="span4">
                    <div class="thumbnail well">
                      <img {% if scr.logo %} src="/media/{{ scr.logo }}" {% else %} src="/static/logos/rlogo.jpg" {% endif %} width="95" height="95" class="img-rounded">
                      <div class="caption">
                        <h4 class="text-info" align="center"><strong>{{ scr.name }}</strong></h4>
                        <p align="center"><i>{{ scr.inln }};</i></p>
                        <p style="height: 81px; overflow: hidden" align="justify">{{ scr.details }}</p>
                        <p align="right">
                          <a href="#" data-toggle="modal" class="btn btn-inverse describe" data-target="#Describe" data-param={{ scr.id }}>View More >></a>
                          <a a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param="/scripts/apply-script/{{ scr.id }}">Apply</a></p>
                      </div>
                    </div>
                  </li>
                {% empty %}
                  <p>No resources available!</p>
                {% endfor %}
                </ul>
              </div>
            {% else %}
              <table class="table table-striped">
                <head>
                  <tr>
                    <th>Logo</th> <th>Name</th> <th>Inline Description</th>
                    <th>Details</th><th>Action</th> <th>Delete</th>
                  </tr>
                </head>
                <tbody>
                  {% for scr in scr_list %}
                  <tr id={{ scr.id }}>
                    <td style="vertical-align: middle"><img {% if scr.logo %} src="/media/{{ scr.logo }}" {% else %} src="/static/logos/rlogo.jpg" {% endif %} width="55" height="55" class="img-rounded"></td>
                    <td style="vertical-align: middle"><strong>{{ scr.name }} <br /> <span class="subscript"> (author: {{ scr.author }}) </span> </strong></td>
                    <td style="vertical-align: middle"><i>{{ scr.inln|truncatewords:9|default:"No Inline" }}</i></td>
                    <td style="vertical-align: middle">
                      <a href="#" data-toggle="modal" class="btn btn-primary describe" data-target="#Describe" data-param={{ scr.id }}>
                        <i class="icon-info-sign icon-white"></i>
                      </a>
                    </td>
                    <td style="vertical-align: middle">
                      <a href="#" data-toggle="modal" class="btn btn-inverse apply" data-target="#Apply"  data-param="/scripts/apply-script/{{ scr.id }}">
                        <strong>Create&nbsp;Job&nbsp;&nbsp;<i class="icon-tasks icon-white"></i></strong>
                      </a>
                    </td>
                    <td style="vertical-align: middle">
                        <a  class="btn btn-danger deletescript"   data-param="/deletescript/{{ scr.id }}" data-cate="{{ cat }}">
                          <i class="icon-trash"></i>
                    </td>
                  </tr>
                  {% empty %}
                  <tr> <td></td> <td><strong>No resources available!</strong></td>
                      <td></td><td></td><td></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            </div>
            {% endfor %}